<section class='connector'>
  <img src='/images/cat-and-dog.gif' alt='Cat and Dog' />
  <section class='mainContainer'>
    <section class='subContainers'>
      <section class='subContainerA'>
        <div class='row justify-space-between-md'>
          <div class='adoption-card'>
            <h2 class='page-title'>Adoption Form</h2>
            <form class='form adoption-form'>
              <input type='hidden' id='animal-id' value='{{animalId}}' />
              <input type='hidden' id='client-id' value='{{clientId}}' />

              <div class='form-group'>
                <label for='first-name'>First Name:</label>
                <input class='form-input' type='text' id='first-name' />
              </div>

              <div class='form-group'>
                <label for='address'>Address:</label>
                <input class='form-input' type='text' id='address' />
              </div>

              <div class='form-group'>
                <label for='email'>Email:</label>
                <input class='form-input' type='text' id='email' />
              </div>

              <div class='form-group'>
                <label for='adoption-reason'>Why do you want to adopt a new
                  friend?</label>
                <textarea id='adoption-reason'>Type here...</textarea>
              </div>

              <!-- New Description Field -->
              {{! <div class='form-group'>
                <label for='description'>Description:</label>
                <textarea id='description'>Type here...</textarea>
              </div> }}

              <div class='form-group'>
                <button class='btn btn-primary' type='submit'>Submit</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </section>
  </section>
</section>
<script src='/js/adoption-form.js'></script>