 <section class="connector">
      <img src="/images/cat-and-dog.gif" alt="Cat and Dog">
      <section class="searchBar">
          <p>Search for your new best friend:</p>
          <input type="text">
          <button>Search</button>
    </section>
<section class='mainContainer'>
  <section class='subContainers'>
    <section class='subContainer10'>
      <h2>Cats</h2>
      <a href="http://localhost:3001/cats"><img src='/images/Cat.gif' alt='Cat'></a>
    </section>
    <section class='subContainer20'>
      <h2>Dogs</h2>
      <a href="http://localhost:3001/dogs"><img src='/images/Dog.gif' alt='Dog'></a>
    </section>
  </section>
</section>