 <section class="connector">
      <img src="/public/images/cat-and-dog.gif" alt="Cat and Dog">
      <section class="searchBar">
          <p>Search for your new best friend:</p>
          <input type="text">
          <button>Search</button>
    </section>
<section class='mainContainer'>
  <section class='subContainers'>
    <section class='subContainer10'>
      <h2>Cats</h2>
      <img src='/public/images/Cat.gif' alt='Cat and Dog' />
    </section>
    <section class='subContainer20'>
      <h2>Dogs</h2>
      <img src='/public/images/Dog.gif' alt='Cat and Dog' />
    </section>
  </section>
</section>