<body>
  <header class="mainContainer">
    <h1>Pawfect Match</h1>
    <section class="navBar">
      <button>Home</button>
      <button>Sign Up/Login</button>
      <button>Logout</button>
      <button>Employees</button>
    </section>
  </header>
  <main>
    <section class="connector">
      <img src="./images /cat-and-dog.gif" alt="Cat and Dog">
      <section class="searchBar">
          <p>Search for your new best friend:</p>
          <input type="text">
          <button>Search</button>
      </section>
    <section class="mainContainer">
        <section class="subContainers">
            <section class="subContainer1">
              <h2>Boston</h2>
              <p>Race: English Bulldog</p>
              <p>Age: 3 years</p>
              <p>Description: Excellent with kids.</p>
              <img src="./images /Bulldog.jpeg" alt="Bulldog">
              <button>Adopt it!</button>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="favorites">
                <label for="favorites">Add to favorites</label>
            </section>
            <section class="subContainer1">
              <h2>Boston</h2>
              <p>Race: English Bulldog</p>
              <p>Age: 3 years</p>
              <p>Description: Excellent with kids.</p>
              <img src="./images /Bulldog.jpeg" alt="Bulldog">
              <button>Adopt it!</button>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="favorites">
                <label for="favorites">Add to favorites</label>
            </section>
            <section class="subContainer1">
              <h2>Boston</h2>
              <p>Race: English Bulldog</p>
              <p>Age: 3 years</p>
              <p>Description: Excellent with kids.</p>
              <img src="./images /Bulldog.jpeg" alt="Bulldog">
              <button>Adopt it!</button>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="favorites">
                <label for="favorites">Add to favorites</label>
            </section>
            <section class="subContainer1">
              <h2>Boston</h2>
              <p>Race: English Bulldog</p>
              <p>Age: 3 years</p>
              <p>Description: Excellent with kids.</p>
              <img src="./images /Bulldog.jpeg" alt="Bulldog">
              <button>Adopt it!</button>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="favorites">
                <label for="favorites">Add to favorites</label>
            </section>
            <section class="subContainer1">
              <h2>Boston</h2>
              <p>Race: English Bulldog</p>
              <p>Age: 3 years</p>
              <p>Description: Excellent with kids.</p>
              <img src="./images /Bulldog.jpeg" alt="Bulldog">
              <button>Adopt it!</button>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="favorites">
                <label for="favorites">Add to favorites</label>
            </section>
            <section class="subContainer1">
              <h2>Boston</h2>
              <p>Race: English Bulldog</p>
              <p>Age: 3 years</p>
              <p>Description: Excellent with kids.</p>
              <img src="./images /Bulldog.jpeg" alt="Bulldog">
              <button>Adopt it!</button>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="favorites">
                <label for="favorites">Add to favorites</label>
            </section>
            <section class="subContainer1">
              <h2>Boston</h2>
              <p>Race: English Bulldog</p>
              <p>Age: 3 years</p>
              <p>Description: Excellent with kids.</p>
              <img src="./images /Bulldog.jpeg" alt="Bulldog">
              <button>Adopt it!</button>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="favorites">
                <label for="favorites">Add to favorites</label>
            </section>
            <section class="subContainer1">
              <h2>Boston</h2>
              <p>Race: English Bulldog</p>
              <p>Age: 3 years</p>
              <p>Description: Excellent with kids.</p>
              <img src="./images /Bulldog.jpeg" alt="Bulldog">
              <button>Adopt it!</button>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="favorites">
                <label for="favorites">Add to favorites</label>
            </section>
            <section class="subContainer1">
              <h2>Boston</h2>
              <p>Race: English Bulldog</p>
              <p>Age: 3 years</p>
              <p>Description: Excellent with kids.</p>
              <img src="./images /Bulldog.jpeg" alt="Bulldog">
              <button>Adopt it!</button>
              <div class="checkbox-wrapper">
                <input type="checkbox" id="favorites">
                <label for="favorites">Add to favorites</label>
            </section>
        </section>
    </section>
</main>
<footer>
  <h3> 🐾 This application has been created by © 2023 Team 3 🐾 </h2>
</footer>  
</body>