* {
  background-color: #a28089;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #a28089;
  padding: 30px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  display: flex; 
  justify-content: space-between; 
}

.navBar {
  margin-top: 10px;
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
}

.navBar button {
  width: 150px;
  padding: 10px 20px;
  background-color: #a28089;
  color: #edf7f6;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 5px;
}